h1 {color:  blueviolet
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    }
p { font-size: 24px;
    color:  black;
}
h2 {
    color:  blueviolet;
    font-size: 28px;
    margin:0%;
    padding: 20px;
    }
p {
        font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
    }
    body {
        background-color: #eee4e4;
    }       

