h1 {color:  blueviolet
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    }
p { font-size: 24px;
    color:  black;
}
h2 {
    color:  blueviolet;
    font-size: 28px;
    margin:0%;
    padding: 20px;
    }
p {
        font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
    }
    body {
        background-color: #eee4e4;
    }  
    title {
        font-family: Arial, sans-serif;
        color: rgb(91, 34, 148);
        background-color: #360a2f;
        padding: 20px;
        margin: 0;             
    }   
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .image {
        width: 300px;
        height: auto;
        margin: 20px;
        padding: 10px;
    }
    .button {
        background-color: #360a2f;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }       
    .button:hover {
        background-color: #623391;
    }   
    footer {
        background-color: #360a2f;
        color: white;
        text-align: center;
        padding: 10px;
        position: fixed;
        width: 100%;
        bottom: 0;
    } 
    nav {
        background-color: #360a2f;
        padding: 10px;
         color: white;

    }   
    nav a {
        color: white;
        text-decoration: none;
        margin: 0 10px;
        font-size: 18px;
    }
    nav a:hover {
        text-decoration: underline;
    }
    .research-table td, .research-table th {
        width: 80%;
        border-collapse: collapse;
        margin: 20px auto;  
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
        border-bottom: 3px solid #ddd;
    }
    .research-table th {
        background-color: #360a2f;
        color: white;
    }   
    .research-table tr:hover {
        background-color: #f1f1f1;
    }
    .research-table {
        width: 80%;
        border-collapse: collapse;
        margin: 20px auto;  
    }   



